<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class='erros'>
        <%if(errosValidacao){%>
            <ul>
                <%for(var i=0;i<errosValidacao.length;i++){%>
                    <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
                <%}%>
            </ul>
        <%}%>
    </div>
    <form action="/produtos" method="post">
        <div>
            <label for="titulo">Título Livro</label>
            <input type="text" id="titulo" name="titulo" value="<%=produto.titulo%>" placeholder="Título livro" />
        </div>
        <div>
            <label for="preco">Preço Livro</label>
            <input type="text" id="preco" name="preco" value="<%=produto.preco%>" placeholder="Preço livro" />
        </div>
        <div>
            <label for="descricao">Descrição Livro</label>
            <textarea cols="20" rows="10" id="descricao" name="descricao" value="<%=produto.descricao%>"
                placeholder="Descrição livro"></textarea>
        </div>
        <input type="submit" value="Salvar"/>
    </form>
</body>
</html>